<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xcode and Git.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BBC47051F0A73E30043FDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBC47191F0A73E40043FDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBC47241F0A73E40043FDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
